{% extends 'base.html.twig' %}

{% block title %} {{film.title}}{% endblock %}

{% block body %}
                            <!-- Movie Card Start -->
<div class="d-flex justify-content-center text-center">
            <div class="card-view">
                                <div class="card-header background justify-content-center" style="background: url({{ film.ImgField }});" >
                                    <div class="card-header-icon">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-movie-content">
                                    <div class="card-movie-content-head">
                                        <a href="#">
                                            <h3 class="h4 text-center">{{ film.title }}</h3>
                                        </a>
                                   </div>
                                </div>
                            
                            <!-- Movie Card End -->
                            <!-- Description Start -->
                            <div class="d-flex justify-content-center">
                            <p class=""> {{film.description|raw}} </p>
                            </div>
                            <!-- Description End -->
                            <div class="text-center">
        <a href="{{ path('add_favorite', {id: film.id}) }}">❤️</a>
        </div>
        </div>
                            </div>
                            <div>
                            <p class="text-center"><a href="{{ film.slug }}/comment">Laisser un commentaire!</a></p>
                          <div class="container mt-5 d-flex align-items-center justify-content-center">
                            <div class="row d-flex justify-content-center w-100">
        <div class="col-md-8">
            <div class="headings d-flex justify-content-between align-items-center mb-3 w-50">

                        {% for comm in film.getComments %}
        
                <div class="buttons"> <span class="badge bg-white d-flex flex-row align-items-center"> 
                        </span> </div>
            </div>
            <div>
            <div class="card p-3 pb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="user d-flex flex-row align-items-center"> 
                    <span><p class="font-weight-bold text-primary h3">{{comm.nickname}}</p> <p class="font-weight-bold">{{comm.title}}</p></span> </div> 
                </div>
              <p class="h6">{{comm.content}}</p>
              <div class="pb-2">
                    </div>
                    </div>
                        {% endfor %}
                                          
	<!--	<a href="{{ path('remove_favorite', {id: film.id}) }}"><i class="far fa-heart"></i></a> -->
                            

{% endblock %}
