{% extends 'base.html.twig' %}

{% block title %} {{film.title}}{% endblock %}

{% block body %}
                            <!-- Movie Card Start -->
<div class="d-flex justify-content-center">
            <div class="card-view">
                                <div class="card-header background justify-content-center" style="background: url({{ film.ImgField }});" >
                                    <div class="card-header-icon">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-movie-content">
                                    <div class="card-movie-content-head">
                                        <a href="#">
                                            <h3 class="h4 text-center">{{ film.title }}</h3>
                                        </a>
                                   </div>
                                </div>
                            </div>
                            </div>
                            <!-- Movie Card End -->
                            <!-- Description Start -->
                            <div class="d-flex justify-content-center">
                            <p class=""> {{film.description|raw}} </p>
                            </div>
                            <!-- Description End -->
        <a href="{{ path('add_favorite', {id: film.id}) }}"><i class="fas fa-heart"></i></a>
		<a href="{{ path('remove_favorite', {id: film.id}) }}"><i class="far fa-heart"></i></a>
                            

{% endblock %}
