{% extends 'base.html.twig' %}

{% block title %} {{film.title}}{% endblock %}

{% block body %}
                            <!-- Movie Card Start -->
<div class="d-flex justify-content-center">
            <div class="card-view">
                                <div class="card-header background justify-content-center" style="background: url({{ film.ImgField }});" >
                                    <div class="card-header-icon">
                                        <a href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-movie-content">
                                    <div class="card-movie-content-head">
                                        <a href="#">
                                            <h3 class="h4 text-center">{{ film.title }}</h3>
                                        </a>
                                   </div>
                                </div>
                            </div>
                            </div>
                            <!-- Movie Card End -->
                            <!-- Description Start -->
                            <div class="d-flex justify-content-center">
                            <p class=""> {{film.description|raw}} </p>
                            </div>
                            <!-- Description End -->
                            {% if is_granted("ROLE_USER") %}
                            {% set isFavorite = false %}
							{% for favoris in annonce.favoris %}
								{% if favoris.id == app.user.id %}
                                    {% set isFavorite = true %}
								{% endif %}    
							{% endfor %}
                            {% if isFavorite %}
								<a href="{{ path('annonces_ajout_favoris', {id: annonce.id}) }}"><i class="fas fa-heart"></i></a>
                            {% else %}
								<a href="{{ path('annonces_ajout_favoris', {id: annonce.id}) }}"><i class="far fa-heart"></i></a>
                            {% endif %}

						{% else %}
							<i class="far fa-heart"></i>
						{% endif %}
                            

{% endblock %}
